<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>修改密码</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>发布内容时自动获取地理位置</string>
				<key>accessoryStyle</key>
				<integer>1</integer>
				<key>option</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>消息通知</string>
				<key>accessoryStyle</key>
				<string>0</string>
				<key>option</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>清除缓存</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>关于Getfun</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>意见反馈</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>5</string>
			</dict>
			<dict>
				<key>title</key>
				<string>给盖范好评奖励</string>
				<key>accessoryStyle</key>
				<string>0</string>
				<key>option</key>
				<string>6</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>发布时自动获取位置</string>
				<key>accessoryStyle</key>
				<integer>1</integer>
				<key>option</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>消息通知</string>
				<key>accessoryStyle</key>
				<string>0</string>
				<key>option</key>
				<string>2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>清除缓存</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>关于Getfun</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>意见反馈</string>
				<key>accessoryStyle</key>
				<integer>0</integer>
				<key>option</key>
				<string>5</string>
			</dict>
			<dict>
				<key>title</key>
				<string>给盖范好评奖励</string>
				<key>accessoryStyle</key>
				<string>0</string>
				<key>option</key>
				<string>6</string>
			</dict>
		</array>
	</array>
</array>
</plist>
